html {
    font-size: 62.5%;
    /* deixa a fonte em 10px, para usar todas as fontes do site baseadas nesse tamanho, com a unidade (rem) */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.pai {
    height: 100vh;
    background-color: yellow;
}

p {
    font-size: 1.6rem;
}

.color-one {
    background-color: turquoise;
}

.color-two {
    background-color: violet;
}